# dependencies
/node_modules

# production build
/dist
/build

# environment variables
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local IDE settings
.vscode/
.idea/

.DS_Store
Thumbs.db
